html
body
  width 100%
  font-size 16px
  background #fff
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content space-around
  -webkit-justify-content space-around
  -moz-justify-content space-around
  -o-justify-content space-around
  flex-direction column
  -webkit-flex-direction column
  -moz-flex-direction column
  -o-flex-direction column

.section-entrada
  width 100%
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  flex-direction column
  -webkit-flex-direction column
  -moz-flex-direction column
  -o-flex-direction column
  
.menu-layout
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  background convergencia
  justify-content space-between
  -webkit-justify-content space-between
  -moz-justify-content space-between
  -o-justify-content space-between
  width 100%
  z-index 1001
  box-shadow .05em .05em 1em #000
  .img-menu
    width 20%
  .menu-lista
    width 60%
    margin 0
    padding 0
    list-style none
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    flex-direction row
    -webkit-flex-direction row
    -moz-flex-direction row
    -o-flex-direction row
    .a-menu-lista
      text-decoration none
      font-family AvenirLTStd-Medium
      width 25%
      text-align center
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column    
      -webkit-flex-direction column    
      -moz-flex-direction column    
      -o-flex-direction column    
      -webkt-transition .2s
      -moz-trasition .2s
      -o-trasition .2s
      transition .2s
      &:focus
        outline 0        
      .item-menu
        color white
        font-size 1em
        padding 1.2em
      &:hover
        -webkt-transition .2s
        -moz-trasition .2s
        -o-trasition .2s
        transition .2s
        background fondos
        box-shadow .3em .1em 2em #000
    .item-menu-nosotros
      font-family AvenirLTStd-Medium
      width 20%
      text-align center
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column    
      -webkit-flex-direction column    
      -moz-flex-direction column    
      -o-flex-direction column    
      -webkt-transition .2s
      -moz-trasition .2s
      -o-trasition .2s
      transition .2s
      a
        color white
        text-decoration none
        outline 0
      &:hover
        -webkt-transition .2s
        -moz-trasition .2s
        -o-trasition .2s
        transition .2s
        background fondos
        box-shadow .3em .1em 2em #000
        .submenu-lista
          -webkt-transition opacity 0.5s linear 0s, width 0.3s ease-out 0s
          -moz-trasition opacity 0.5s linear 0s, width 0.3s ease-out 0s
          -moz-trasition opacity 0.5s linear 0s, width 0.3s ease-out 0s
          -o-trasition opacity 0.5s linear 0s, width 0.3s ease-out 0s
          transition opacity 0.5s linear 0s, width 0.3s ease-out 0s
          display flex
          display -webkit-flex
          display -moz-flex
          display -o-flex
          justify-content space-around
          -webkit-justify-content space-around
          -moz-justify-content space-around
          -o-justify-content space-around
          flex-direction column
          -webkit-flex-direction column
          -moz-flex-direction column
          -o-flex-direction column
          box-shadow .1em .1em .3em #000
          border-radius 0em .2em 0em .2em
      .submenu-lista
        top 10%
        position absolute
        background rgba(51,59,64,0.6)
        width 10%
        margin 0
        padding 0
        display none 
        position fixed
        -webkt-transition opacity 0.5s linear 0s, width 0.3s ease-out 0s
        -moz-trasition opacity 0.5s linear 0s, width 0.3s ease-out 0s
        -o-trasition opacity 0.5s linear 0s, width 0.3s ease-out 0s
        transition opacity 0.5s linear 0s, width 0.3s ease-out 0s
        list-style none
        li
          text-align justify
          a
            color white
            padding .5em .5em
            font-size .8em
            display block
            transition .2s
            -webkt-transition .2s
            -moz-trasition .2s
            -o-trasition .2s
            outline 0
            &:hover
              background rgba(51,59,64,1)
              transition .2s
              -webkt-transition .2s
              -moz-trasition .2s
         .primera
           margin-top 1em
  label
    font-size 2.5em
    color #f3f3f3 
    display none
    margin-right .8em        
  .menu
    position absolute
    overflow scroll
    top 70px
    left 0
    width 100%
    height 100vh
    background rgba(0,0,0,.9)
    transition all 0.5s
    -webkit-transition all 0.5s
    -moz-transition all 0.5s
    -o-transition all 0.5s
    transform translateX(-100%)
    -webkit-transform translateX(-100%)
    -moz-transform translateX(-100%)
    -o-transform translateX(-100%)
    li
      border-bottom 1px solid #f3f3f3  
      a
        display block
        font-size 1.3em
        text-decoration none
        color convergencia
        font-weight bold
        padding .7em 0
        padding-left 1em
    .est-cel
      border-bottom 1px solid convergencia
      .cel-est
        font-weight 400
        font-size 1.1em
    p
      display block
      font-size 1.4em
      margin 0em
      text-decoration none
      color white
      font-weight bold
      padding .5em 0
      text-align center
      border-bottom 1px solid #f3f3f3  
      border-top 1px solid #f3f3f3

      
    
  #menu-bar
    display none
  #menu-bar:checked ~ .menu
    transform translateX(0%)
    -webkit-transform translateX(0%)
    -moz-transform translateX(0%)
    -o-transform translateX(0%)

    
  .lista-menu-redes
    margin 0
    padding 0
    list-style none
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    flex-direction row
    -webkit-flex-direction row
    -moz-flex-direction row
    -o-flex-direction row
    .a-menu-lista
      text-decoration none
      font-family AvenirLTStd-Medium
      width 20%
      text-align center
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      .item-menu-redes
        color white
        font-size 1em
        padding 1.2em
        -webkt-transition .2s
        -moz-trasition .2s
        -o-trasition .2s
        transition .2s
        &:hover
          color fondos
          -webkt-transition .2s
          -moz-trasition .2s
          -o-trasition .2s
          transition .2s
      &:last-child
        margin-right 1em

.pie-layout
  width 100%
  background fondos
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content space-around
  -webkit-justify-content space-around
  -moz-justify-content space-around
  -o-justify-content space-around
  flex-direction column
  -webkit-flex-direction column
  -moz-flex-direction column
  -o-flex-direction column
  font-family AvenirLTStd-Medium
  .section-pie
    width 100%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    flex-direction row
    -webkit-flex-direction row
    -moz-flex-direction row
    -o-flex-direction row
    margin 1em 0em
    .logo-pie
      width 20%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      align-items center
      -webkit-align-items center
      -moz-align-items center
      -o-align-items center
      img
        width 40%
        height 50px
    .itaip
      width 40%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      align-items center
      .imagen-itaip
        width 200px
        height 100px
        box-shadow .1em .1em 2em #000
        border-radius .2em
        background white
      .info
        height 90px
    .redes-listas-pie
      width 40%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      text-align center
      align-items center
      -webkit-align-items center
      -moz-align-items center
      -o-align-items center
      .redes-sociales-pie
        margin 0
        padding 0
        a
          text-decoration none
          .redes-pie
            color white
            list-style none
            text-align justify
            margin 1em 0em
            font-family AvenirLTStd-Medium
            font-weight 400
            font-size .9em
            &:hover
              color convergencia
        .redes-pie-texto
          color white
          list-style none
          text-align justify
          margin 1em 0em
          font-family AvenirLTStd-Medium
  .by-kimvex
    width 100%
    color white
    font-size .8em
    padding .2em 0em 0em 0em
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    flex-direction row
    -webkit-flex-direction row
    -moz-flex-direction row
    -o-flex-direction row
    a
      color white
      text-decoration none
      outline 0
      &:hover
        text-decoration underline

.menu-pegado
  position fixed
  top 0
  
@media (max-width: 800px)
  .menu-layout 
    box-shadow none
    height 70px
    .img-menu
      width 40%
    .menu-lista
      width 20%
      display none
    label
      display block 
    .lista-menu-redes
      display none
      
@media (max-width: 600px)
  .pie-layout
    .section-pie
      width 100%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      .logo-pie
        display none
      .itaip
        width 90%
      .redes-listas-pie
        width 100%







