.login-seccion
  background #f3f3f3
  width 100%
  display flex
  display -webkit-flex
  display -moz-flex
  flex-direction row
  justify-content space-around
  padding 4.88em 0em
  .formulario-session
    display flex
    display -webkit-flex
    display -moz-flex
    flex-direction column
    justify-content space-around
    width 30%
    margin-bottom 10em
    .sessiones-user-pass
      width 100%
      border 0
      outline 0
      padding 1em
      &:first-child
        border-bottom .1em solid rgba(51,59,64,.5)
        transition 1s
        -webkit-transition 1em
        -moz-transition 1em
        border-radius .2em .2em 0em 0em
        &:focus
          border-bottom .1em solid rgba(51,59,64,1)
          transition 1s
          -webkit-transition 1em
          -moz-transition 1em
    .sessiones-boton
      width 107.9%
      border 0
      outline 0
      padding 1em
      background convergencia
      color white
