.contenedor-manejo
  width 100%
  display flex
  display -webkit-flex
  display -moz-flex
  justify-content space-between
  flex-direction column
  .cabecera-maneno
    width 100%
    .nav-manejo
      width 100%
      background convergencia
      .menu-lista-manejo
        margin 0
        padding 0
        list-style none
        width 100%
        display flex
        display -webkit-flex
        display -moz-flex
        justify-content center
        flex-direction row
        a
          color white
          text-decoration none
          font-family AvenirLTStd-Medium
          outline 0
          .item-manejo
            display block
            padding 1.5em
            transition .4s
            -webkit-transition .4s
            -moz-transition .4s
            &:hover
              background fondos
              transition .4s
              -webkit-transition .4s
              -moz-transition .4s
              box-shadow 0em 0em 1em #000
  
  .muestra-cuerpo-manejo
    display flex
    display -webkit-flex
    display -moz-flex
    justify-content space-between
    flex-direction row
    .lista-articulos-cambios
      color fondos
      font-family AvenirLTStd-Medium
      background #f6f7f8
      border .1em solid
      border-color bordesbonitos
      border-left 0em
      border-radius 0em .2em .2em 0em
      width 50%
      .lista-articulos-at
        margin 0
        padding 0
        list-style none
        .item-articlulos-at
          cursor pointer
          transition .1s
          -webkit-transition .1s
          -moz-transition .1s
          padding 1em 1em 1em 1em
          border-bottom .05em solid fondosrgba
          font-size .9em
          &:last-child
            border-bottom 0
          &:hover
            background fondos
            transition .1s
            -webkit-transition .1s
            -moz-transition .1s
            color white
          &:focus
            background fondos
            color white        
        .aitem-articlulos-at
          cursor pointer
          transition .4s
          -webkit-transition .4s
          -moz-transition .4s
          padding 1em 1em 1em 1em
          border-bottom .05em solid fondosrgba
          font-size .9em
          color white
          background fondos
            
    .muestra-seccion-manejo
      width 50%
      padding 1em
      color fondos
      font-family AvenirLTStd-Medium
      overflow-y scroll
      .seccion-informacion-reservada
        .formulario-reservada
          display flex
          display -webkit-flex
          display -moz-flex
          justify-content space-between
          flex-direction column
          border-bottom .1em solid
          border-color bordesbonitos
          .archivo-subir
            background url('https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png') no-repeat
            margin 1em 0em
            border-radius .2em
            width 10em
            .file-info-reservda
              margin 1em 0em
              overflow hidden !important
              width 100% !important
              opacity 0 !important
          .nombreImg
            border .1em solid
            padding 1em
            border-radius .2em
            outline 0
            border-color bordesbonitos
        .no-reser-info
          margin 0em
          display flex
          display -webkit-flex
          display -moz-flex
          justify-content space-between
          flex-direction column
          border-bottom .1em solid
          border-color bordesbonitos
          .info-no-reser-span
            padding 1em
            text-align center
        .encaso
          width 100%
          background fondos
          color white
          text-align center
          padding .5em 0em
          margin .5em 0em 0em 0em
        .actualizar-reservada
          display flex
          display -webkit-flex
          display -moz-flex
          justify-content space-between
          flex-direction column
          margin 0em
          .nombre-actualiza
            border .1em solid
            border-color bordesbonitos
            outline 0
            padding .5em
            border-radius .2em
            margin .5em 0em
          .archivo-subir
            background url('https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png') no-repeat
            margin 1em 0em
            border-radius .2em
            width 10em
            .actualizar-reservada-info
              margin 1em 0em
              overflow hidden !important
              width 100% !important
              opacity 0 !important
        .actualiza-info-reservada
          margin .5em 0em 0em 0em
          width 100%
          background fondos
          color white
          text-align center
          padding .5em
                  
.publicar-infor-contenedor
  text-align center
  .publicar-info-reser
    background convergencia
    border 0
    border-radius .2em
    width 30%
    padding 1.5em
    color white
    outline 0
    border-bottom .4em solid rgba(0,0,0,.5)
    margin 1em 0em
    &:active
      border-bottom 0
      border-top .4em solid rgba(0,0,0,.5)
.formulario-in-b
  display flex
  display -webkit-flex
  display -moz-flex
  justify-content space-between
  flex-direction column
  border-bottom .1em solid
  border-color bordesbonitos
  .bor-b
    color white
    background convergencia
    border-radius .2em
    padding .5em
    margin .5em
    &:focus
      outline 0
  .input-b-submit
    width 100%
    text-align center
    padding 1em 0em
    .boton-public-b
      padding 1em
      color white
      border-radius .2em
      outline 0
      background convergencia
      border 0
  .cargando-archivos
    padding .5em
      
.titulos-secciones
  width 100%
  color white
  padding .5em 0em
  text-align center
  background fondos
  margin .5em 0em
.input-b
  padding .5em
  border .1em solid
  border-color bordesbonitos
  border-radius .2em
  outline 0
  margin-bottom .5em
.file-b
  width 100%
  padding 0em 0em 1em 0em
  border-bottom .1em solid
  border-color bordesbonitos
.year-informacion
  padding 1em
  color fondos
.trimestre-informacion
  color white
  border .1em solid
  border-color bordesbonitos
  background convergencia
  border-radius .2em
  padding .5em
  &:focus
    outline 0

.articulos
  text-align center
  font-size 2em
  color fondos
