.muestra-cuerpo-manejo
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content space-between
  -webkit-justify-content space-between
  -moz-justify-content space-between
  -o-justify-content space-between
  flex-direction row
  -webkit-flex-direction row
  -moz-flex-direction row
  -o-flex-direction row
  .lista-articulos-cambios
    color fondos
    font-family AvenirLTStd-Medium
    background #f6f7f8
    border .1em solid
    border-color bordesbonitos
    border-left 0em
    border-radius 0em .2em .2em 0em
    width 50%
    .articulos-d
      width 100%
      text-align center
      background fondos
      color white
      margin-top 1em
      padding-top .5em
      border-bottom .2em
      border-color bordesbonitos
      border-bottom 1px solid white
    .lista-articulos-at
      margin 0
      padding 0
      list-style none
      .no-reflejo
        transition .1s
        -webkit-transition .1s
        -moz-transition .1s
        -o-transition .1s
        padding 1em 1em 1em 1em
        border-bottom .05em solid fondosrgba
        font-size .9em
        &:last-child
          border-bottom 0
      .item-articlulos-at
        cursor pointer
        transition .1s
        -webkit-transition .1s
        -moz-transition .1s
        -o-transition .1s
        padding 1em 1em 1em 1em
        border-bottom .05em solid fondosrgba
        font-size .9em
        &:last-child
          border-bottom 0
        &:hover
          background fondos
          transition .1s
          -webkit-transition .1s
          -moz-transition .1s
          -o-transition .1s
          color white
        &:focus
          background fondos
          color white        
      .aitem-articlulos-at
        cursor pointer
        transition .4s
        -webkit-transition .4s
        -moz-transition .4s
        -o-transition .4s
        padding 1em 1em 1em 1em
        border-bottom .05em solid fondosrgba
        font-size .9em
        color white
        background fondos
      .art
        background fondos
        color white
        border-bottom .1px solid white
        border-top .1px solid white
        &:last-child
          border-bottom 0
        &:hover
          background convergencia
          transition .1s
          -webkit-transition .1s
          -moz-transition .1s
          -o-transition .1s
          color white
        &:focus
          background convergencia
          color white       
  .muestra-seccion-manejo
    width 50%
    padding 1em
    color fondos
    font-family AvenirLTStd-Medium
    overflow-x hidden
    img
      width 100%
    .im-cel
      display none
    .seccion-informacion-reservada
      .formulario-reservada
        display flex
        display -webkit-flex
        display -moz-flex
        display -o-flex
        justify-content space-between
        -webkit-justify-content space-between
        -moz-justify-content space-between
        -o-justify-content space-between
        flex-direction column
        -webkit-flex-direction column
        -moz-flex-direction column
        -o-flex-direction column
        border-bottom .1em solid
        border-color bordesbonitos
        .archivo-subir
          background url('https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png') no-repeat
          margin 1em 0em
          border-radius .2em
          width 10em
          .file-info-reservda
            margin 1em 0em
            overflow hidden !important
            width 100% !important
            opacity 0 !important
        .nombreImg
          border .1em solid
          padding 1em
          border-radius .2em
          outline 0
          border-color bordesbonitos
      .no-reser-info
        margin 0em
        display flex
        display -webkit-flex
        display -moz-flex
        display -o-flex
        justify-content space-between
        -webkit-justify-content space-between
        -moz-justify-content space-between
        -o-justify-content space-between
        flex-direction column
        -webkit-flex-direction column
        -moz-flex-direction column
        -o-flex-direction column
        border-bottom .1em solid
        border-color bordesbonitos
        .info-no-reser-span
          padding 1em
          text-align center
      .encaso
        width 100%
        background fondos
        color white
        text-align center
        padding .5em 0em
        margin .5em 0em 0em 0em
      .actualizar-reservada
        display flex
        display -webkit-flex
        display -moz-flex
        justify-content space-between
        -webkit-justify-content space-between
        -moz-justify-content space-between
        -o-justify-content space-between
        flex-direction column
        -webkit-flex-direction column
        -moz-flex-direction column
        -o-flex-direction column
        margin 0em
        .nombre-actualiza
          border .1em solid
          border-color bordesbonitos
          outline 0
          padding .5em
          border-radius .2em
          margin .5em 0em
        .archivo-subir
          background url('https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png') no-repeat
          margin 1em 0em
          border-radius .2em
          width 10em
          .actualizar-reservada-info
            margin 1em 0em
            overflow hidden !important
            width 100% !important
            opacity 0 !important
      .actualiza-info-reservada
        margin .5em 0em 0em 0em
        width 100%
        background fondos
        color white
        text-align center
        padding .5em
  
.section-transparencia
  width 100%
  .informacion-section
    background fondos
    color white
    padding 1em 0em
    text-align center
    margin 0em 0em .5em 0em
  .years
    width 100%
    font-size 2em
    font-weight 700
    border-bottom .1em solid
    border-top .1em solid
    border-color bordesbonitos
    background fondos
    color white
    text-align center
    margin 1em 0em 0em 0em
    &:first-child
      margin 0em 0em 1em 0em
  .datos-trans
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    flex-direction column
    -webkit-flex-direction column
    -moz-flex-direction column
    -o-flex-direction column
    .datos-respuesta
      font-size 1.4em
      background convergencia
      text-align center
      color white
    .links
      margin-bottom .5em
      a
        color convergencia
        text-decoration none
        font-size 1em
        width 100%
        display block
        &:hover
          text-decoration underline
      a:before
        content url("../img/pdf.png")
          
@media (max-width: 800px)         

  .muestra-cuerpo-manejo
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    flex-direction column-reverse
    -webkit-flex-direction column-reverse
    -moz-flex-direction column-reverse
    -o-flex-direction column-reverse
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    align-items center
    -webkit-align-items center
    -moz-align-items center
    -o-align-items center
    width 100%
    .lista-articulos-cambios
      width 100%
      border-top 5px solid convergencia
    .muestra-seccion-manejo
      width 80%
      img
        width 100%
      .im-normal
        display none
      .im-cel
        display block








