{% extends 'layout.html' %}
	
{% block title %}
  Directorio Estatal
{% endblock %}

{% block content %}
  <section class="articulo-direst">
    <section class="articulos-contenido-direst">
      <article class="dir-titulo">
        <h2 class="contenido-historia">
          Directorio Estructura de Movimiento Ciudadano Tabasco
        </h2>
      </article>
      <article class="dir-estatal">
      	<article class="contenido-dir-estatal-top mar">
      		<p>Coordinador de la Comisión Operativa Estatal</p>	
      		<img src="../img/directorioEstatal/GuillermoTorresLopez.png">
      		<p>GUILLERMO TORRES LOPEZ</p>
      		<p class="informacion">e-mail: g.torreslopez@me.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      </article>      
      <article class="dir-demas">
      	<article class="contenido-dir-estatal-top mar">
      		<p>Secretaria de Actas y Acuerdos</p>	
      		<img src="../img/directorioEstatal/Patricia Lanestosa Vidal.png">
      		<p>MARTHA PATRICIA LANESTOSA VIDAL</p>
      		<p class="informacion">e-mail: paty1314@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>      	
      	<article class="contenido-dir-estatal-top mar">
      		<p>Tesorera</p>	
      		<img src="../img/directorioEstatal/mayanin.jpg">
      		<p>MAYANIN DEL SOCORRO PUC ORTIZ</p>
      		<p class="informacion">e-mail: mayaninpuc@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      	<article class="contenido-dir-estatal-top mar">
      		<p>Delegada Estatal de Mujeres en Movimiento</p>	
      		<img src="../img/directorioEstatal/TeresaPatinoGómez.png">
      		<p>TERESA PATIÑO GOMEZ</p>
      		<p class="informacion">e-mail: coetabasco@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      	<article class="contenido-dir-estatal-top mar">
      		<p>Jurídico</p>	
      		<img src="../img/directorioEstatal/Pendientes.png">
      		<p>CARLOS TRUJILLO PEREGRINO</p>
      		<p class="informacion">e-mail:  trujilloasesoria@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>

      </article>
      <article class="dir-demas">
      	<article class="contenido-dir-estatal-top mar">
      		<p>Encargado Estatal de Afiliaciones</p>	
      		<img src="../img/directorioEstatal/Juan Jose Osorio Luna-01.png">
      		<p>JUAN JOSE OSORIO LUNA</p>
      		<p class="informacion">e-mail:   juanjo_oluna@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>      	
      	<article class="contenido-dir-estatal-top mar">
      		<p>Secretario de Vinculación y Participación Ciudadana</p>	
      		<img src="../img/directorioEstatal/Pendientes.png">
      		<p>JULIO MOSCOSO CORTES</p>
      		<p class="informacion">e-mail:  jmoscoso57@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      	<article class="contenido-dir-estatal-top mar">
      		<p>Secretario de Organización</p>	
      		<img src="../img/directorioEstatal/Joaquin Peregrino-01.png">
      		<p>JOAQUIN PEREGRINO GOMEZ</p>
      		<p class="informacion">e-mail:  joaquinperegrino@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>      	
      	<article class="contenido-dir-estatal-top mar">
      		<p>Secretaria Estatal de Circulos Ciudadanos</p>	
      		<img src="../img/directorioEstatal/Blanca Gomez Villalpando-01.png">
      		<p>BLANCA ESTELA GOMEZ VILLALPANDO</p>
      		<p class="informacion">e-mail:  blankagomez@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      </article>
      <article class="dir-demas">
      	<article class="contenido-dir-estatal-top mar">
      		<p>Coordinación Electoral</p>	
      		<img src="../img/directorioEstatal/Pendientes.png">
      		<p>JAVIER ABREU VERA</p>
      		<p class="informacion">e-mail:  javierabreuvera@gmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>      	
      	<article class="contenido-dir-estatal-top mar">
      		<p>Delegada Estatal de Jóvenes en Movimiento</p>	
      		<img src="../img/directorioEstatal/Anahi Sanchez Jimenez-01.png">
      		<p>ANAHI DEL CARMEN SANCHEZ JIMENEZ</p>
      		<p class="informacion">e-mail:  anahi_1989_78@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      	<article class="contenido-dir-estatal-top mar">
      		<p>Transparencia y Acceso a la Información</p>	
      		<img src="../img/directorioEstatal/Pendientes.png">
      		<p>KENIA YURITZA GARCIA ARIAS</p>
      		<p class="informacion">e-mail:  keyugari_2724@hotmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>      	
      	<article class="contenido-dir-estatal-top mar">
      		<p>Secretario de Comunicación Social</p>	
      		<img src="../img/directorioEstatal/Luis Miguel Garrido Genesta-01.png">
      		<p>LUIS MIGUEL GARRIDO GENESTA</p>
      		<p class="informacion">e-mail:	imiguelgg0384@gmail.com</p>
      		<p class="informacion">Tel: 01 9933141201</p>
      	</article>
      </article>
    </section>
  </section>
{% endblock %}
