{% extends 'layout.html' %}

{% block title %}
  Movimiento Ciudadano | Seguimos en Movimiento
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'entrada';
    </script>
{% endblock %}
{% block content %}
  <header class="img-conver">
    <img src="/img/7b33388cc80217b1acc07bdd22030129.png" alt="Imagen" class="img-conver-im">
    <h1>Movimiento Ciudadano Tabasco</h1>
  </header>
  <div class="secciones-entrada">
    <ul class="lista-secciones">
        <li class="item-secciones">
          <a href="http://diputadosciudadanos.mx" target="_blik">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
            <div class="texto-trasero">Somos veinticinco legisladores mujeres y hombres como tú y la mayoría de los habitantes de este país. Entre nosotros hay médicos, maestros, enfermeras, politólogos, sociólogos y abogados, ciudadanos decididos a hacer lo correcto: estar del lado de la gente, dar la cara y abrir las puertas del Congreso a los ciudadanos.</div>
          </a>
        </li>
        <li class="item-secciones">
          <a href="http://jovenesenmovimiento.mx" target="_blik">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
            <div class="texto-trasero">Jóvenes en Movimiento es un espacio plural, abierto y de inclusión para todas las expresiones juveniles. Creemos que la participación de todos los sectores de la juventud mexicana debe ser considerada para analizar y dar solución a las problemáticas que se viven en el país.</div>
          </a>
        </li>
        <li class="item-secciones">
          <a href="http://mujeresenmovimiento.mx" target="_blik">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
            <div class="texto-trasero">Mujeres en Movimiento.</div>
          </a>
        </li>
        <li class="item-secciones">
          <a href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento" target="_blik">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
            <div class="texto-trasero">Trabajadores y Productores en Movimiento</div>
          </a>
        </li>
      </ul>  
  </div>
  <div class="redes-timeline">
    <article class="redes-cel">
      <article class="twitter-entrada">
        <a class="twitter-timeline" href="https://twitter.com/MovCiudadanoTab" data-widget-id="704215142771208192">Tweets por el @MovCiudadanoTab.</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </article>
      <article class="facebook-entrada">
        <div class="fb-like-box fb_iframe_widget facebook-t" data-colorscheme="light" data-header="true" data-href="https://www.facebook.com/MovCiudadanoTab" data-show-border="true" data-show-faces="true" data-stream="true" data-width="700" style="text-align: center;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;color_scheme=light&amp;container_width=770&amp;header=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FMovCiudadanoTab&amp;locale=es_LA&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=true&amp;width=700">
          <span style="vertical-align: bottom; width: 450px; height: 540px;" class="spanf">
            <iframe name="f3ddf3e2ec" width="500px" height="600px"  frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df3c81006e8%26domain%3Dmovimientociudadanotabasco.com%26origin%3Dhttp%253A%252F%252Fmovimientociudadanotabasco.com%252Ff3bb3a86cc%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=770&amp;header=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FMovCiudadanoTab&amp;locale=es_LA&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=true&amp;width=700" style="border: none; visibility: visible;"></iframe>
          </span>
        </div> 
      </article>
    </article>  
    
  </div>
{% endblock %}
