{% extends 'layout.html' %}

{% block title %}
  Historia
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'historia';
    </script>
{% endblock %}

{% block content %}
  <section class="articulo-historia">
    <section class="articulos-contenido">
      <article class="contenido-historia">
        <h2>
          MOVIMIENTO CIUDADANO
        </h2>
        <p>
          En una determinación histórica y por unanimidad, los 586 delegados asistentes a la Tercera Asamblea Nacional Extraordinaria de Convergencia aprobaron el 31 de julio de 2011, reformas de fondo a los documentos básicos que convierten a esa organización, a partir de esa fecha, en Movimiento Ciudadano.
 
          En sesión ordinaria celebrada el 07 de Octubre de 2011, el Consejo General del Instituto Federal Electoral declaró procedentes y constitucionalmente válidas las reformas a los documentos básicos de Convergencia, aprobadas en Asamblea Nacional del 31 de julio, y que dan paso a su transformación en Movimiento Ciudadano.
 
          Es así como el 17 de Octubre de 2011 se publica en el Diario Oficial de la Federación la resolución emitida por el Instituto Federal Electoral por lo que es, en esa fecha en que dichos cambios adquieren carácter oficial.
 
          Así, de conformidad con los nuevos estatutos, las instancias y los órganos de dirección del Movimiento Ciudadano son a nivel nacional:
 
          La Convención Nacional Democrática, el Consejo Ciudadano Nacional, la Coordinadora Ciudadana Nacional y la Comisión Operativa Nacional.
          En el nivel estatal: la Convención Estatal, el Consejo Ciudadano Estatal, la Coordinadora Ciudadana Estatal y la Comisión Operativa Estatal.
 
          A nivel municipal: la Comisión Operativa Municipal en las cabeceras distritales electorales federal y locales, el Comisionado Municipal y los Círculos de base.
          El Movimiento Ciudadano conserva el color naranja y el emblema es representado por un águila en posición de ascenso, sobre las palabras Movimiento Ciudadano.2
 
          De conformidad con el artículo tercero de los estatutos aprobados, toda ciudadana o ciudadano inscritos en el registro federal de electores puede solicitar su asignación como militante o su adhesión como simpatizante. Tanto la afiliación como la adhesión son individuales, libres, pacíficas y voluntarias.
 
          Todo afiliado al Movimiento Ciudadano deberá cumplir con sus documentos básicos, acatar sus resoluciones; participar activa, disciplinada y permanentemente en la realización de sus objetivos y en las comisiones que se le asignen.
 
          Finalmente en septiembre del 2012 es elegido Dante Delgado como Coordinador Nacional de la Comisión Operativa de Movimiento Ciudadano; y la maestra María Elena Orantes López como Secretaria de Acuerdos en Octubre del mismo año.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL PRINCIPIO
        </h2>
        <p>
          Convergencia por la Democracia solicitó su registro como Agrupación Política Nacional en 1996. Le fue   otorgado en enero de 1997. El 5 de diciembre de 1998, Convergencia por la Democracia efectuó en la ciudad   de México, su Asamblea Nacional Constitutiva como Partido Político Nacional. El 1° de agosto de 1999, el  Instituto Federal Electoral (IFE) notificó a la dirigencia de Convergencia que contaba formalmente con   registro y con la personalidad jurídica de Partido Político Nacional.
          La primera dirigencia del Comité Ejecutivo Nacional (CEN) de Convergencia fue encabezada por el Lic. Dante  Delgado Rannauro (1999-2002), a quien acompañó en la Secretaría General del partido el Lic. Enrique Herrera  Bruqueta hasta el año 2001.
        </p> 
      </article>
      <article class="contenido-historia mar">
        <h2>
          IDEOLOGÍA
        </h2>
        <p>
          Desde su origen, Convergencia suscribe como ideología política los valores y los principios de la   Socialdemocracia Renovada, que consisten en promover la igualdad y la equidad, la protección de los   débiles, la libertad como autonomía, ningún derecho sin responsabilidad, ninguna autoridad sin democracia,  el pluralismo y la defensa de los derechos fundamentales del ser humano, entre otros. Reconoce, además, la   necesidad de respetar la libertad individual y la elección personal, pugnando en todo momento por una   justicia social para todos los mexicanos. Para Convergencia, la Socialdemocracia representa hoy una   orientación política que acepta el sistema de libre mercado como la mejor manera de organizar la producción   de bienes y servicios requeridos para la satisfacción de necesidades materiales, pero al mismo tiempo tiene   como objetivo fundamental la intervención del Estado para asegurar que los beneficios y dividendos sean   producidos y distribuidos de una manera que se asegure una vida cabal y plena para toda la sociedad.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL PROCESO ELECTORAL FEDERAL DEL 2000
        </h2> 
        <p>
          De agosto de 1999 a julio del 2000, Convergencia promovió y se sumó a la “Alianza
          por México”, integrada también por el Partido de la Revolución Democrática (PRD),
          el Partido del Trabajo (PT), el Partido Alianza Social (PAS) y el Partido de la Sociedad Nacionalista ( PSN), para participar en las elecciones federales del 2 de julio de 2000, que postuló como candidato a la  presidencia al Ing. Cuauhtémoc Cárdenas Solórzano. Como resultado de esas elecciones federales,  Convergencia obtuvo: una senaduría, dos diputaciones federales y una diputación local en el Distrito   Federal; así como en alianza con el PRD y el PT, la Jefatura del Gobierno del Distrito Federal. En los  procesos locales del 2001 y 2002, Convergencia ganó con perfiles ciudadanos, las presidencias municipales  de las capitales de los estados de Veracruz y Oaxaca.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          LA SEGUNDA ASAMBLEA NACIONAL
        </h2> 
        <p>
          El 16 de agosto de 2002, en la ciudad de Puebla, Puebla, Convergencia efectuó su Segunda Asamblea Nacional,   en la que se determinó acortar el nombre de “Convergencia por la Democracia” a solo “Convergencia” y  reelegir por tres años a la dirigencia nacional del partido (2002-2006). Por designación ante el Consejo   Nacional del partido, en el mes de julio de 2003, el Dr.a Alejandro Chanona Burguete fue designado  Secretario General.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL PROCESO ELECTORAL FEDERAL DEL 2003
        </h2> 
        <p>
          En los comicios federales para renovar la Cámara de Diputados en el 2003, Convergencia participó sin  coaligarse con ningún partido político. Obtuvo entonces 605,811 votos, que representaron el 2.53 por ciento de la votación nacional, con lo que mantuvo su registro. Derivado de ello, Convergencia logró obtener 5 diputados federales, lo que le  permitió, por primera vez, contar con una Fracción Parlamentaria en el Congreso de la Unión. Durante los   procesos locales del 2004 y 2005, el partido continuó incrementando su presencia electoral a lo largo y   ancho del país. En el 2005 ganó, en alianza con el PRD y el Partido de la Revolución Socialista (PRS), la   gubernatura del estado de Guerrero.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          LA TERCERA ASAMBLEA NACIONAL
        </h2>
        <p>
          El 11 de febrero de 2006 en la ciudad de Tlaxcala, Tlaxcala, tuvo lugar la Tercera Asamblea Nacional en la  que fueron electos para el período 2006-2010, el Lic. Luis Maldonado Venegas y el Lic. Pedro Jiménez León,   como Presidente y Secretario General de Convergencia, respectivamente. Durante la Tercera Asamblea se   establecieron tres objetivos estratégicos a los que se abocaría la nueva administración nacional: 1.  Lealtad a los principios socialdemócratas. 2. Unidad y cohesión del partido. 3. Crecimiento y consolidación  de Convergencia.
        </p> 
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL PROCESO ELECTORAL FEDERAL DEL 2006
        </h2>
        <p>
          Al inicio del 2006, el parido contaba con 317 cargos de elección: 1 senador de la República, 5 diputados  federales, 26 diputados locales, 27 presidentes municipales, 231 regidores y 27 síndicos. Además de la Jefatura de Gobierno del Distrito Federal, ganada en alianza con  el PRD y PT desde el año 2000, y la gubernatura de Guerrero, obtenida en alianza con el PRD y PRS en 2005.   En los comicios federales del 2 de julio del 2006, Convergencia aportó 3.5 millones de votos a la coalición   “Por el Bien de Todos”, conformada también por el PRD y por el PT. Esta coalición postulo como candidato a  la presidencia de la República al Lic. Andrés Manuel López Obrador.
          Como resultado del proceso federal del 2006, Convergencia individualmente obtuvo los siguientes cargos de   representación: 5 senadores de la República y 17 diputados federales. Esta suma de representación le  permitió al partido contar con Fracción Parlamentaria en ambas Cámaras del Congreso de la Unión. A partir  de entonces, y derivado del cumplimiento de los objetivos estratégicos puestos en marcha por la nueva  administración nacional de Convergencia, se diseñó un Programa Estratégico Electoral con miras a su  aplicación en los procesos electorales de finales del 2006, 2007 y 2008.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL FRENTE AMPLIO PROGRESISTA
        </h2> 
        <p>
          Después de las elecciones de julio del 2006, una vez conocido el resolutivo del Tribunal Electoral del  Poder Judicial de la Federación en contra del triunfo presidencial del Lic. Andrés Manuel López Obrador, y   en los términos previstos por el Código Federal de Instituciones y Procedimientos Electorales (COFIPE) de   ese año, Convergencia y los otros dos partidos integrantes de la coalición “Por el Bien de Todos”, firmaron   un convenio para constituir el Frente Amplio Progresista (FAP), que se regiría bajo los principios de   pluralidad, solidaridad y compromiso republicano. El Frente, signado el 27 de septiembre del 2006 y   aprobado por el IFE el 11 de octubre de ese mismo año, fue constituido para un periodo de tres años,  susceptible de renovación a voluntad de las partes. El FAP, como lo estableció el COFIPE del 2006, no  asumió compromisos de carácter electoral; su principal objetivo fue en materia legislativa y de gobierno.  Es decir, se comprometió a presentar y/o avalar conjuntamente iniciativas y propuestas de reforma  legislativa ante el Congreso de la Unión, salvaguardando siempre la autonomía e ideología de cada grupo  parlamentario.
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          BALANCE DE RESULTADOS ELECTORALES A DIEZ AÑOS DE LA CONSTITUCIÓN DE CONVERGENCIA
        </h2>
        <p>
          En el Consejo Nacional del partido efectuado en septiembre del 2008, el presidente y senador de la  República, Luis Maldonado Venegas, dio a conocer que Convergencia contaba con 638 cargos de elección   popular, entre los que se sumaba la adhesión de un diputado federal a la fracción parlamentaria del   partido. En este contexto, desde finales del 2008, Convergencia se convirtió en la cuarta fuerza política   nacional de México. A febrero de 2009, el partido registra un incremento de cargos de elección popular, por   encima del objetivo inicialmente planteado por la actual dirigencia nacional de Convergencia. Se cuenta en  total con 724 cargos de representación: 5 senadores de la República (3 de mayoría), 18 diputados federales   (5 de mayoría), 32 diputados locales (9 de mayoría), 41 presidentes municipales, 589 regidores (114 de  mayoría) y 39 síndicos. A lo anterior se agregan los triunfos conjuntos obtenidos al conquistar los  gobiernos del Distrito Federal (en alianza con el PRD y el PT, en julio del 2006), de Chiapas (en alianza  con el PRD y el PT, en agosto de 2006), y de Michoacán (en alianza con el PRD, PT y el Partido Alternativa   Socialdemócrata, en noviembre del 2007).
        </p>
      </article>
      <article class="contenido-historia mar">
        <h2>
          EL PROCESO ELECTORAL FEDERAL DEL 2009
        </h2>
        <p>
          Con miras a las elecciones intermedias del 5 de julio del 2009, Convergencia convino con el PT en conformar   una coalición electoral denominada “Coalición Frente Amplio Progresista”. El 10 de diciembre del 2008, el   convenio de coalición fue firmado y presentado por Convergencia y el PT al Consejo General del IFE. El 22   de diciembre, el IFE aprobó el mencionado Convenio de “Coalición Frente Amplio Progresista”; sin embargo,   por una impugnación, el nombre de dicha coalición electoral cambió a “Coalición Por el Bien de Todos,   Primero los Pobres”. Debido a que fue rechazada esta segunda propuesta ante el Consejo General del IFE, se  convino como tercera opción para el nombre de la coalición el de “Salvemos a México”, denominación que fue   validada por el IFE el 14 de enero del 2009. Además, de manera sucesiva, se han adherido a la coalición   “Salvemos a México” organizaciones políticas y sociales como el Partido de los Trabajadores (25 de  noviembre del 2008); el Partido Popular Socialista (26 de noviembre del 2008); Movimiento Cívico (11 de  diciembre del 2008) y la Unión Popular Revolucionaria Emiliano Zapata (16 de diciembre del 2008). Asimismo,  el 30 de diciembre del 2008, firmaron acuerdos de colaboración con la coalición “Salvemos a México” las  siguientes agrupaciones políticas: Unidad Nacional Progresista, Parnaso Nacional, Confederación Nacional de  Ciudadanos, Profesionales por México, Deporte y Sociedad en Movimiento, Poder Ciudadano, y Propuesta Cívica.
        </p>
      </article>      
      <article class="contenido-historia mar">
        <h2>
          EL PROCESO ELECTORAL FEDERAL DEL 2012
        </h2>
        <p>
          Con miras a las elecciones federales del 5 de julio del 2009, Movimiento Ciudadano convino con el PRD y el  PT en conformar una coalición electoral denominada “Movimiento Progresista”.
          Bajo la presidencia de su coordinador nacional en ese año y presidente municipal electo de Acapulco, Luis   Walton Aburto, se informó en sesión de la Coordinadora Ciudadana Nacional que nuestra organización logró  372 cargos de elección popular, desde senadores, diputados federales y locales, hasta alcaldes y regidores.
          Actualmente Movimiento Ciudadano cuenta con veinte diputados y una senadora en el Congreso de la Unión.
        </p>     
      </article>
    </section>
    <aside class="opciones-sectores">
      <ul class="lista-sectores-historia">
        <li class="lista-items-historia titulo-historia-item">Movimientos</li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://diputadosciudadanos.mx">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://jovenesenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://mujeresenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
          </a>
        </li>
      </ul>
    </aside>
  </section>
{% endblock %}
