<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta name="description" content="En Movimiento Ciudadano no traicionaremos la confianza de los mexicanos y lo demostramos con la firma del Acuerdo Nacional por la Transparencia con el INAI."/>
  <title>{% block title %} {% endblock %}</title>
  {% block head %}
    <script src="/js/escript.js"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/normalize.css">
  {% endblock %}
</head>
<body>
  <section class="section-entrada">
    <nav class="menu-layout" id="menu">
      <img class="img-menu" src="/img/logo.png" alt="Logo">
      <ul class="menu-lista">
        <a class="a-menu-lista" href="/">
          <li class="item-menu">
            Inicio
          </li>
        </a>      
        <a class="a-menu-lista" href="/transparencia">
          <li class="item-menu">
            Transparencia
          </li>
        </a>      
        <li class="item-menu-nosotros">
          <a href="#">
            Estructura
          </a>
          <ul class="submenu-lista">
            <li class="primera">
              <a href="/comision-operativa-nacional">
                Comisión Operativa Nacional
              </a>
            </li>
            <li>
              <a href="/comision-operativa-estatal">
                Comisión Operativa Estatal
              </a>
            </li>
            <li>
              <a href="/consejo-ciudadano-estatal">
                Consejo Ciudadano Estatal
              </a>
            </li>
            <li>
              <a href="/coordinadora-ciudadana-estatal">
                Coordinadora Ciudadana Estatal
              </a>
            </li>
            <li>
              <a href="/organigrama">
                Organigrama
              </a>
            </li>
            <li>
              <a href="/directorio-estatal">
                Directorio Estatal
              </a>
            </li>
          </ul>
        </li>
        <li class="item-menu-nosotros" id="item-menu-nosotros">
          <a href="#">
            Nosotros
          </a>
          <ul class="submenu-lista" id="submenu-lista">
            <li class="primera">
              <a href="/historia">
                Nuestra historia
              </a>
            </li>
            <li>
              <a href="/documentos-basicos">
                Documentos Básicos
              </a>
            </li>
            <li>
              <a href="/reglamentos">
                Reglamentos
              </a>
            </li>
            <li>
              <a href="/plataforma-electoral">
                Plant. Electoral
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-celular">
        <input type="checkbox" id="menu-bar"></input>
        <label for="menu-bar" class="icon-menu cel-ico"></label>
        <nav class="menu">
          <li>
            <a href="/">
              Inicio
            </a>
          </li>
          <li>
            <a href="/transparencia">
              Transparencia
            </a>
          </li>        
          <p>
            Estructura
          </p>
          <li class="est-cel">
            <a  class="cel-est" href="/comision-operativa-nacional">
              • Comisión Operativa Nacional
            </a>  
          </li> 
          <li class="est-cel">
            <a  class="cel-est" href="/comision-operativa-estatal">
              • Comisión Operativa Estatal
            </a>            
          </li>
          <li class="est-cel">             
            <a  class="cel-est" href="/consejo-ciudadano-estatal">
              • Consejo Ciudadano Estatal
            </a>
          </li>           
          <li class="est-cel">             
            <a  class="cel-est" href="/coordinadora-ciudadana-estatal">
              • Coordinadora Ciudadana Estatal
            </a>
          </li>          
          <li class="est-cel">             
            <a  class="cel-est" href="/organigrama">
              • Organigrama
            </a>
          </li>          
          <li class="est-cel">             
            <a  class="cel-est" href="/directorio-estatal">
              • Directorio Estatal
            </a>
          </li>          
          <p>
            Nosotros
          </p>
          <li class="est-cel">             
            <a  class="cel-est" href="/historia">
              • Nuestra Historia
            </a>
          </li>          
          <li class="est-cel">             
            <a  class="cel-est" href="/documentos-basicos">
              • Documentos Básicos
            </a>
          </li>          
          <li class="est-cel">             
            <a  class="cel-est" href="/reglamentos">
              • Reglamentos
            </a>
          </li>          
          <li class="est-cel">             
            <a  class="cel-est" href="/plataforma-electoral">
              • Plataforma Electoral
            </a>
          </li>          
          <p>
            •
          </p>
          <p>
            •
          </p>
          <p>
            •
          </p>

        </nav>
      </ul>
      <ul class="lista-menu-redes">
        <a class="a-menu-lista" href="https://www.facebook.com/MovCiudadanoTab/" target="_blik">
          <li class="item-menu-redes icon-facebook"></li>
        </a>
        <a class="a-menu-lista" href="https://twitter.com/MovCiudadanoTab" target="_blik">
          <li class="item-menu-redes icon-twitter"></li>
        </a>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="pie-layout">
      <section class="section-pie">
        <div class="itaip">
          <a href="http://www.itaip.org.mx" target="_blik">
            <img src="/img/200x200 itaip.png" class="imagen-itaip" alt="Itaip">
          </a>
          <a href="http://www.infomextabasco.org.mx/v25/" target="_blik">
            <img src="/img/logo_infomex.png" class="imagen-itaip info" alt="InfoMex">
          </a>
          <a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx" target="_blik">
            <img src="/img/inai.png" class="imagen-itaip info" alt="Inai">
          </a>
        </div>
        <div class="logo-pie">
          <img src="/img/logofooters.png" alt="Imagen pie">
        </div>
        <div class="redes-listas-pie">
          <ul class="redes-sociales-pie">
            <li class="redes-pie-texto pie-cel">
              Siguenos en nuestras redes sociales
            </li>
            <a href="https://www.facebook.com/MovCiudadanoTab/" target="_blik">
              <li class="redes-pie icon-facebook"> Facebook</li>
            </a>
            <a href="https://twitter.com/MovCiudadanoTab" target="_blik">
              <li class="redes-pie icon-twitter"> Twitter</li>
            </a>
          </ul>
        </div>
      </section>
      <footer class="by-kimvex">
        <p>
          By Team <a href="http://www.kimvex.com" target="_blik">Kimvex</a>
        </p>
      </footer>
    </footer>
  </section>
</body>
</html>
