{% extends 'templete.html' %}

{% block title %}
  Administracion
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'admin';
    </script>
{% endblock %}

{% block content %}
  <section class="contenedor-manejo">
    <header class="cabecera-maneno">
      <nav class="nav-manejo">
        <ul class="menu-lista-manejo">
            <a href="/">
              <li class="item-manejo">
                Inicio
              </li>
            </a>
            <a href="/salir">
              <li class="item-manejo">
                Salir
              </li>
            </a>
            ¿¿ data ??
        </ul>
      </nav>
    </header>
    <section class="muestra-cuerpo-manejo">
      <aside class="lista-articulos-cambios">
        <ul class="lista-articulos-at">
          <li class="item-articlulos-at" id="inf-reser">A) Informacion Reservada</li>
          <li class="item-articlulos-at" id="estruc-o-a-m-f-t-a-c-b">B) Estructura Organica, Atribuciones, Marco Juridico, Formatos, Tramites, Acuerdos Y Convenios, Boletines Informativos</li>
          <li class="item-articlulos-at" id="c">C) Manuales, Metas Y Objetivos E Indicadores De Gestion</li>
          <li class="item-articlulos-at" id="d">D) Directorio de Servidores Públicos</li>
          <li class="item-articlulos-at" id="e">E) Informacion General, Unidad De Acceso A La Informacion, Y Solicitudes De Informacion Resueltas</li>
          <li class="item-articlulos-at" id="f">F) Remuneracion Mensual Por Puesto</li>
          <li class="item-articlulos-at" id="g">G) Informacion Presupuestal</li>
          <li class="item-articlulos-at" id="h">H) Convocatorias, Contratos Y Concesiones</li>
          <li class="item-articlulos-at" id="i">I) Auditorias</li>
          <li class="item-articlulos-at" id="j">J) Informacion De Los Padrones De Beneficiarios De Programas Sociales</li>
          <li class="item-articlulos-at" id="k">K) Participacion Ciudadana</li>
          <li class="item-articlulos-at" id="l">L) Ejecucion Presupuestal</li>
          <li class="item-articlulos-at" id="m">M) Estados Financieros</li>
          <li class="item-articlulos-at" id="n">N) Ingresos</li>
          <li class="item-articlulos-at" id="o">O) Acciones, Controversias O Juicios</li>
          <li class="item-articlulos-at" id="p">P) Informe Anual De Actividades</li>
          <li class="item-articlulos-at" id="q">Q) Agenda Publica</li>
          <li class="item-articlulos-at" id="r">R) Cuentas Publicas Calificadas</li>
          <li class="item-articlulos-at" id="s">S) Minutas Para La Ejecucion Del Plan Estatal De Desarrollo</li>
          <li class="item-articlulos-at" id="t">T) Informacion De Utilidad Para El Ejercicio Del Derecho De Acceso A La Informacion</li>
          <li class="item-articlulos-at" id="ar12">Articulo 12</li>
          <li class="item-articlulos-at" id="ar13">Articulo 13</li>
          <li class="item-articlulos-at" id="ar14">Articulo 14</li>
        </ul>
      </aside>
      <div class="muestra-seccion-manejo" id="contenedor-lista-articulo">
        <img src="/img/letter1final.png" class="im-normal">
      </div>
    </section>
    <footer class="pie-layout">
      <section class="section-pie">
        <div class="itaip">
          <a href="http://www.itaip.org.mx" target="_blik">
            <img src="/img/200x200 itaip.png" class="imagen-itaip" alt="Itaip">
          </a>
        </div>
        <div class="logo-pie">
          <img src="/img/logofooters.png" alt="Imagen pie">
        </div>
        <div class="redes-listas-pie">
          <ul class="redes-sociales-pie">
            <li class="redes-pie-texto">
              Siguenos en nuestras redes sociales
            </li>
            <a href="https://twitter.com/MovCiudadanoMX" target="_blik">
              <li class="redes-pie icon-facebook"> Facebook</li>
            </a>
            <a href="https://www.facebook.com/MovCiudadanoTab/" target="_blik">
              <li class="redes-pie icon-twitter"> Twitter</li>
            </a>
          </ul>
        </div>
      </section>
      <footer class="by-kimvex">
        <p>
          By team <a href="http://www.kimvex.com" target="_blik">Kimvex</a>
        </p>
      </footer>
    </footer>
  </section>
{% endblock %}
